# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=GhBy186FiszBKF6ga9iG5nVQnEZNRKAnd6oPsbVW5jNp
TREASURY_WALLET=

# Privy (server-side wallet generation)
PRIVY_APP_ID=
PRIVY_APP_SECRET=

# API
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
